@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}

.cabecalho{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: #0000AB;
    height: 80px;
    padding-right: 60px;
    font-family:'Bungee Inline', cursive;
    position: relative;
}

.cabecalho > img{
    height: 80px;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

nav > div{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

nav > input{
    width: 200px;
    height: 25px;
    background-color: #7000FF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 0.5em center; 
    background-size: 1.3em;
    padding-left: 2.5em;
    background-image: url("../assets/material-symbols_search-rounded.png");  
}

nav > input::placeholder{
    color: #DCD2D5;
}

.lupa{
    width: 25px;
}

body{
    background-image: url("../assets/Group\ 1\ \(4\).png");
    height: 100vh;
    position: relative;
    
}

.banner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 100px 100px 0;
    position: relative;
    justify-content: space-between;
    gap: 20%;  
}

.div-banner{
    min-width: 400px ;
    font-size: 0.8em;
    background-color: #00194E;
    padding: 20px;
    border-radius: 5px;

}

.robo{
    position: absolute;
    width: 450px;
    bottom: 380px;
    left: 40px;
}


main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.novidades{
    font-family:'Bungee Inline', cursive;
    background-color: #000;
    display: flex;
    flex-direction: column;
    position: relative;
}

.novidades > .letreiro{
    background-color: #00194E;
    height: 60px;
    padding: 15px;
}

.novidades > .comprar{
    background-color: #00194E;
    height: 40px;
    padding: 10px;
}


.preco{
    position: absolute;
    padding: 10px;
    background-color: #000;
    right: 100px;
    top: 95%;


}

.carrinho{
    background-color: #0E5AC8;
    padding: 5px;
    position: absolute;
    left: 100%;
    top: 1px;
}

.carrinho > img{
    width: 25px;
}
.descricao{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    max-width: 82%;
   align-self: center;
   font-size: 1em;
   margin: 10px 0;
}