@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}

.cabecalho{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: #0000AB;
    height: 80px;
    padding-right: 60px;
    font-family:'Bungee Inline', cursive;
    position: relative;
}

.cabecalho > img{
    height: 80px;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

nav > div{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

nav > input{
    width: 200px;
    height: 25px;
    background-color: #7000FF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 0.5em center; 
    background-size: 1.3em;
    padding-left: 2.5em;
    background-image: url("../assets/material-symbols_search-rounded.png");  
}

nav > input::placeholder{
    color: #DCD2D5;
}

.lupa{
    width: 25px;
}

body{
    background-image: url("../assets/Group\ 1\ \(4\).png");
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.banner{
    min-height: 80vh;
    display: flex;
    align-items: flex-end;
    padding: 100px 100px 100px 0;
    position: relative;
    justify-content: space-between;
    gap: 20%;  
}

.div-banner{
    min-width: 400px ;
    font-size: 0.8em;
    background-color: #00194E;
    padding: 20px;
    border-radius: 5px;

}

.robo{
    position: absolute;
    width: 550px;
    bottom: 120px;
    left: 40px;
}


main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.novidades{
    font-family:'Bungee Inline', cursive;
    background-color: #000;
    display: flex;
    flex-direction: column;
    position: relative;
}

.novidades > .letreiro{
    background-color: #00194E;
    height: 60px;
    padding: 15px;
}

.novidades > .comprar{
    background-color: #00194E;
    height: 40px;
    padding: 10px;
}


.preco{
    position: absolute;
    padding: 10px;
    background-color: #000;
    right: 100px;
    top: 95%;


}

.carrinho{
    background-color: #0E5AC8;
    padding: 5px;
    position: absolute;
    left: 100%;
    top: 1px;
}

.carrinho > img{
    width: 25px;
}
.descricao{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    max-width: 82%;
   align-self: center;
   font-size: 1em;
   margin: 10px 0;
}

.RECOMENDADOS > .recomendados-e-destaque{
    display: flex;
    align-items:center ;
    background-color: #0000AB;
    height: 100px;
    font-family:'Bungee Inline', cursive; 
    padding-left: 450px;
    bottom: 50px;
}

.Jogos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    font-family: 'Ubuntu';
    margin-top: 40px;
}

.div-jogos{
    display: flex;
    background-color: #00194E;
    font-family: 'Ubuntu';
    min-width: 40%;
    
}

.infosjogos{
    padding: 30px 15px;
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.homemaranha{
    width: 50%;
}

.jadisponivel{
    font-weight: bold;
  

}

.popular{
    background-color: #0E5AC8;
    padding: 5px 10px;
    width: 80px;
}

.div-jogos1{
    display: flex;
    background-color: #00194E;
}

.CATEGORIAS1{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: #0000AB;
    height: 80px;
    padding-right: 100px;
    padding-left: 100px;
    font-family:'Bungee Inline', cursive;
    position: relative;
    top: 30px;
}

.ghostpromo{
   display: flex;
   margin-top: 40px;
   margin-bottom: 20px;
}

.promocoes-especiais{
    display: flex;
    padding:  20px 40px;
    width: 400px;
    background-color: #00194E
    
}

.gta5{
    background-color: #00194E;
    padding-right: 20px;
}

footer{
    display: none;

}



